@import "tailwindcss";

:root {
  --white: #ffffff;
  --light-blue: #adbbd2;
  --gray: #707070;
  --white-smoke: #fbf5ff;
  --purple: #906eab;
  --black: #000000;
  --blue: #244886;
  --green: #73eead;
  --orange: #fa5252;
}

@theme inline {
  --color-white: var(--white);
  --color-light-blue: var(--light-blue);
  --color-gray: var(--gray);
  --color-white-smoke: var(--white-smoke);
  --color-purple: var(--purple);
  --color-black: var(--black);
  --color-blue: var(--blue);
  --color-green: var(--green);
  --color-orange: var(--orange);

  --font-roboto: var(--font-roboto);

  --breakpoint-xs: 312px;
  --breakpoint-sm: 512px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1200px;
}

body {
  color: var(--blue);
  background: var(--white);
  font-family: var(--font-roboto), sans-serif;
}
